.three-row-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.control {
  flex-basis: 30%;
}

.one-row-container {
  width: 100%;
}

.btn-holder {
  display: flex;
  padding: 18px;
  justify-content: center;
}

.btn {
  margin-left: 10px;
  background-color: "#ff3c00";
}
